
{% extends 'layout.html' %}

{% block content %}


<div class="div1" style="margin:auto; padding:10% 20%" >
    <div class="card text-center" style="width:auto"> 
        <div class="card-header">
        
        </div>
        <div class="card-body">
            <h5 class="card-title">Party Encounter</h5>
            <p class="card-text">{{ encounter_text }}</p>
            <a href="/" class="btn btn-primary" role="button">New Encounter</a> 
        </div>
        <div class="card-footer text-muted">
            {{ minion_details['hit_points']}}
            {{ minion }}
        </div>
    </div>
</div>
   

{% endblock content %}
